//------------------------------定义颜色
$colors: (
    "white": #fff,
    "black": #000,
    //变量例子："black-33": #333
    "red": red
);
//------------------------------font size
$base-font-size: 1px;
$font-sizes: (
    "10": 10,
    "12": 12,
    "14": 14,
    "16": 16,
    "18": 18,
    "20": 20,
    "22": 22,
    "24": 24,
    "26": 26,
    "28": 28,
    "30": 30,
    "32": 32,
    "34": 34,
    "36": 36,
    "38": 38,
    "40": 40,
    "42": 42,
    "44": 44,
    "46": 46,
    "48": 48,
    "50": 50
);
//------------------------------spacing
//.mt-0 => margin-top level 1
$spacing-types: (
    "m": margin,
    "p": padding,
);
$spacing-directions: (
    "t": top,
    "b": bottom,
    "r": right,
    "l": left,
);
$spacing-base-size: 1px;
$spacing-sizes: (
    "0": 0,
    "5": 5,
    "10": 10,
    "15": 15,
    "20": 20,
    "25": 25,
    "30": 30,
    "35": 35,
    "40": 40,
    "45": 45,
    "50": 50,
    "55": 55,
    "60": 60,
    "65": 65,
    "70": 70,
    "75": 75,
    "80": 80,
    "85": 85,
    "90": 90,
    "95": 95,
    "100": 100
);